{% extends 'www/base.html' %}
{% load tz %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/css/products.css' %}">
{% endblock css %}

{% block content %}
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Estás seguro de eliminar este polo?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <form id="delete-form" action="{% url 'delete-product' 0 %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Si, estoy seguro</button>
        </form>
      </div>
    </div>
  </div>
</div>
<main class="page-content">
  <section class="section-80 section-md-0">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6>Productos totales</h6>
              <h3>{{tshirts|length}}</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6>Ganancias</h6>
              <h3>{{store.currency_symbol}} {{lifetime_sales}}</h3>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h6>Pagado</h6>
              <h3>{{store.currency_symbol}} 0.00</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <br><br><br>
  <section class="section-80 section-md-0">
    <div class="container">
      <div class="row justify-content-sm-center">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Ventas</th>
                  <th scope="col">Fecha de fin</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {% timezone "America/Lima" %}
                {% for tshirt in tshirts %}
                <tr>
                  <th>{{forloop.counter}}</th>
                  <td><a href="{% url 'product-detail' tshirt.slug %}">{{tshirt.name}}</a></td>
                  <td>{{store.currency_symbol}} {{tshirt.price}}</td>
                  <td>{{tshirt.total_sales}}</td>
                  <td>{% if tshirt.end_date %}{{tshirt.end_date}} {% else %}Indefinido{% endif %}</td>
                  <td><span data-id="{{tshirt.id}}" data-toggle="modal" data-target="#delete-modal"
                      class="fas fa-trash text-danger delete-icon"></span></td>
                </tr>
                {% endfor %}
                {% endtimezone %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
{% endblock content %}

{% block js %}
<script src="{% static 'accounts/js/products.js' %}"></script>
{% endblock js %}