.product-image {
  max-width: 100%;
  width: 100%;
}

.color {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  cursor: pointer;
}

.timer {
  font-size: 12px !important;
}

.product-form {
  background-color: var(--light);
}

.page-content {
  background-color: #f6f6f9;
}