{% extends 'www/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/cart.css' %}">
{% endblock css %}

{% block content %}
<main class="page-content text-left">
  <br><br><br>
  <div class="container">
    <section class="mt-5 mb-4">
      <div class="row" id="products-table-wrapper" data-pt-url="{% url 'get-products-table' %}">
        {% if cart.content|length > 0 %}
          {% include 'shop/products_table.html' %}
        {% else %}
          <div class="col-12">
            <h3>Tu carrito está vacío</h3>
            <div style="height: 45vh"></div>
          </div>
        {% endif %}
      </div>
    </section>
  </div>
</main>
{% endblock content %}

{% block js %}
{% if user.is_authenticated %}
  <script src="{% static 'shop/js/cart.js' %}"></script>
{% else %}
  <script src="{% static 'shop/js/unAuthCart.js' %}"></script>
{% endif %}
{% endblock js %}