{% extends 'www/base.html' %}
{% load static %}
{% load shop_extras %}

{% block css %}
<link rel="stylesheet" href="{% static 'shop/css/cart.css' %}">
{% endblock css %}

{% block content %}
<main class="page-content text-left">
  <br><br><br>
  <div class="container">
    <section class="mt-5 mb-4">
      <div class="row">
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <h5 class="mb-4">Carrito - {{cart.item_count}} polo(s)</h5>
              {% csrf_token %}
              {% for item in cart.content %}
              <div class="row mb-4">
                <div class="col-md-5 col-lg-3 col-xl-3">
                  <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                    <img class="img-fluid w-100" src="{{item.image}}" alt="">
                  </div>
                </div>
                <div class="col-md-7 col-lg-9 col-xl-9">
                  <div class='product-info'>
                    <div class="d-flex justify-content-between">
                      <div>
                        <h5 class="mb-2">{{item.name}}</h5>
                        <div class="color-wrapper mb-2">
                          <span class="text-muted text-uppercase small">Color: </span>
                          <div class="color" style="background-color: {{item.color}}"></div>
                        </div>
                        <p class="mb-3 text-muted text-uppercase small">Talla: {{item.size}}</p>
                      </div>
                      <div>
                        <div class="input-group mb-0" id="{{item.uuid}}">
                          <div class="input-group-prepend" data-parent-id="{{item.uuid}}">
                            <button class="btn btn-sm btn-outline-secondary minus qty-btn" data-op="minus"
                              data-parent-id="{{item.uuid}}"><span data-op="minus" data-parent-id="{{item.uuid}}"
                                class="fas fa-minus"></span></button>
                          </div>
                          <input data-id="{{item.uuid}}" class="form-control form-control-sm quantity" min="0" name="quantity"
                            value="{{item.quantity}}" type="number">
                          <div class="input-group-append" data-parent-id="{{item.uuid}}">
                            <button class="btn btn-outline-secondary plus qty-btn" data-op="plus"
                              data-parent-id="{{item.uuid}}"><span data-op="plus" data-parent-id="{{item.uuid}}"
                                class="fas fa-plus"></span></button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <a href="{% url 'cart-remove' item.uuid %}?next={{item.product_id}}" type="submit" class="card-link-secondary small text-uppercase mr-3"><span
                            class="fas fa-trash mr-1"></span> Remover</a>
                      </div>
                      <p class="mb-0"><span><strong class="total-price">{{store.currency_symbol}} {{item.total_price|format_to_two}}</strong></span></p>
                    </div>
                  </div>
                </div>
              </div>
              {% if not forloop.last %}
              <hr class="mb-4">
              {% endif %}
              {% endfor %}
            </div>
            <div class="card-footer d-flex justify-content-end">
              <button id="actualizar" class="btn btn-primary">Actualizar</button>
            </div>
          </div>
        </div>
        <div class="col-lg-4">

          <!-- Card -->
          <div class="card mb-4">
            <div class="card-body">

              <h5 class="mb-3">Total del carrito</h5>

              <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                  Subtotal
                  <span id="subtotal">{{store.currency_symbol}} {{cart.sub_total}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                  Envío
                  <span id="shipping">{{store.currency_symbol}} {{store.shipping_cost}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                  <div>
                    <strong>Monto total</strong>
                  </div>
                  <span><strong id="total-amount">{{store.currency_symbol}} {{cart.sub_total|decimal_sum:store.shipping_cost}}</strong></span>
                </li>
              </ul>

              <button type="button" class="btn btn-primary btn-block waves-effect waves-light">FINALIZAR COMPRA</button>

            </div>
          </div>
          <!-- Card -->

          <!-- Card -->
          <div class="card mb-4">
            <div class="card-body">

              <a class="dark-grey-text d-flex justify-content-between" data-toggle="collapse" href="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
                Agregar cupón (optional)
                <span><span class="fas fa-chevron-down pt-1"></span></span>
              </a>

              <div class="collapse" id="collapseExample">
                <div class="mt-3">
                  <div class="md-form md-outline mb-0">
                    <input type="text" id="discount-code" class="form-control font-weight-light"
                      placeholder="Enter discount code">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Card -->

        </div>
      </div>
    </section>
  </div>
</main>
{% endblock content %}

{% block js %}
<script src="{% static 'shop/js/cart.js' %}"></script>
{% endblock js %}